.nav-main {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  padding: 4px;
  color: black;
  background-color: rgb(168, 115, 218);
  border: none;
  font-size: 0.8rem;
  border-radius: 4px;
}

.logo-t{
    color: blueviolet;
}